.main_div {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-left: 20px;
}
.main_div_rows{
    display: table-row;
}
.editing_left{
    display: table-cell;
    width: 15%;
    vertical-align: top;
    padding: 0;

}
.editing_middle{
    display: table-cell;
    width: 10%;
    vertical-align: top;
}
.editing_right{
    display: table-cell;
    vertical-align: top;
    width: 70%;
    padding: 0;
}